{{!-- This partial will help with the design of the USER comments in the forum for each users post.



user of post
date created
comment Text

--}}

<div class="divider m-0"></div>

<div class="frame__footer">
  {{#each this}}
  <div class="frame__subtitle u-text-center">
    <div class="tile">

      <div class="tile__icon">
        <div class="avatar"><img src="{{user.avatar}}"></div>
        <p class="tile__subtitle m-0">{{user.username}} commented:</p><span class="info">{{format_date
          created_at}}</span>
      </div>

      <div class="tile__container u-overflow-hidden u-justify-space-around">
        <br />
        <p class="tile__title m-0 u-text-wrap">{{comment_text}}</p>
      </div>
       <button class="btn-transparent outline" id="delete-comment" type="button">Delete Comment</button>
    </div>
    </div>
  </div>
  <div class="divider m-0"></div>
  {{/each}}
</div>


<script src="/javascript/delete-post.js"></script>