<!DOCTYPE html>
<html lang="en" id="page">
   <head>
      <title id="header-title">Around the world</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
      <link href="https://unpkg.com/cirrus-ui" type="text/css" rel="stylesheet"/>
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet"/>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
   </head>
   
   <body>
    <!-- Nav Bar -->
      <div class="header header-fixed unselectable header-animated">
         <div class="header-brand">
            <div class="nav-item no-hover">
               <h5 class="title"><a href="/"> Around The World </a></h5>
            </div>
            <div class="nav-item nav-btn" id="header-btn"> <span></span> <span></span> <span></span> </div>
         </div>
         <div class="header-nav" id="header-menu">
            <div class="nav-left">
               <div class="nav-item text-center"> <a href="#"> <span class="icon"> <i class="none" aria-hidden="true"> <img src="./img/globe.png"> </i> </span> </a> </div>
            </div>
            <div class="nav-right">
               <div class="nav-item has-sub toggle-hover" id="dropdown">
                <div class="avatar"><img src="https://www.linkpicture.com/q/boy.png" alt="avatar"></div>
                  <a class="nav-dropdown-link">Profile</a> 
                  <ul class="dropdown-menu dropdown-animated" role="menu">
                  {{#if loggedIn}}
                    {{!-- User Dashboard will be here  as Settings --}}
                     <li role="menu-item"><a href="/settings">Settings</a></li> 
                     <li role="menu-item"><a href="#">Help</a></li>
                     {{!-- Create Login here --}}
                     <li role="menu-item"><a href="/login" id="logout">Logout</a></li>
                     {{else}}
                     <li role="menu-item"><a href="/login" id="logout">Login</a></li>
                     {{/if}}
                  </ul>
               </div>
            </div>
         </div>
      </div>
    
 <!-- Hero and Body -->
 <div>
 {{{ body }}}
 </div>

</br>
 <!-- footer -->
<footer class="footer">
    <h6 class="footer__title text-white uppercase"> Around The World </h6> 
    <div class="content">
        <div class="divider"></div>

        <div>
            <div class="col-4">
                <ul class="no-bullets">
                    {{#if loggedIn}}
                    <a href="/">
                        <li class="footer__list-item">Home</li>
                    </a>
                    <a href="/forum">
                        <li class="footer__list-item">Forums</li>
                    </a>
                    {{else}}
                    <a href="/signup">
                        <li class="footer__list-item">Sign Up</li>
                    </a>
                    <a href="/login">
                        <li class="footer__list-item">Login</li>
                    </a>
                    {{/if}}
                </ul>
            </div>
            <div class="col-4">
                <ul class="no-bullets">
                    <a href="!#">
                        <li class="footer__list-item">Contact Us</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <p> Made with ❤️ by <br> Michael Z, Brayden M, Ajani W, Quincy C, and Paul L. </p>

    {{#if loggedIn}}
 <script src="/javascript/logout.js"></script>   
 {{/if}}

     </body>
</html>