{{!-- //============================= FORUM PAGE =============================// --}}

{{!-- Will display all users posts only, buttons will be attached to posts for comments and creating new post. --}}

            {{!-- display users post --}}
            {{#if posts.length}}
            <section>
                <h2>Posts</h2>
                <ol>
                    {{#each posts as |post|}}
                    <li>
                        {{> post-info post}}
                        <a href="/forum/edit/{{post.id}}" class="edit-link">Edit post</a>
                    </li>
                    {{/each}}
                </ol>
            </section>
            {{/if}}
        </div>
    </div>

    <div class="modal" id="test-modal2">
        <div class="modal-header">
            <a href="#anchor-to-background" class="u-pull-right" aria-label="Close">
                <span class="icon">
                    <i class="fa-wrapper fa fa-times"></i>
                </span>
            </a>
        </div>
    </div>
    
