<!-- Hero -->
         <div class="hero fullscreen hero-img parallax-img">
            <img src="./img/duy-pham-Cecb0_8Hx-o-unsplash.jpg" style="height: 100%; width: 100%;">
         </div>
<!-- Description and translate button showcase -->
    <div class="frame__body u-round-md" style="background: rgba(0, 153, 255, 0.575); padding: 1rem; margin: 1rem">
        <div class="frame__title u-text-center"><h4>Welcome to Around the world!</h4></div>
        <div class="frame__subtitle u-text-center u-round-xl">
            <p>With this site we are working to connect many from around the world and let them into your world.</p>
        </div>
        <blockquote class="u-text-center">
            <p> Through out your visit, you will find many forums or posts with different languages. We want everyone to be included, so if 
                you find a post that you cannot read. Just click on the translate button and you will be able to interact within any forum whenever 
                and wherever you are!
            </p> 
        </blockquote>
    </div>

    <div class="u-flex u-justify-center u-justify-space-around">
        <div class="card u-shadow-xl" style="max-width: 350px;">
            <div class="card__container">
                <div class="card__image"><img src="./img/valiant-made-UrzN-8K1PCE-unsplash.jpg" style="height: 100%;"></div>

                <div class="card__title-container">
                    <p class="title">Forum</p><span class="subtitle">Main forum</span></div>
            </div>
            <div class="content">
                <p class="u-text-center"> Here you are able to connect with others and begin a dialogue with fellow friends like you. Be yourself and learn to connect. </p>
            </div>
            <div class="card__action-bar u-center">
                <button class="btn-link outline"><a href="/forum">Go Here</a></button>
            </div>
            <div class="card__footer">
                <div class="u-text-center"><span>Make sure to link your language under settings!</span></div>
            </div>
        </div>
        <div class="card u-shadow-xl" style="max-width: 350px;">
            <div class="card__container">
                <div class="card__image"><img src="./img/noah-buscher-8A7fD6Y5VF8-unsplash.jpg" style="height: 100%; width: 100%;"></div>
                <div class="card__title-container">
                    <p class="title">Fun Random</p><span class="subtitle">GIF/VIDEOS/PICTURES</span></div>
            </div>
            <div class="content">
                <p class="u-text-center"> This is your space, upload any type of media and share with others. Anything that will make someone smile 🙂</p>
            </div>
            <div class="card__action-bar u-center">
                <button class="btn-link outline"> <a href="/forum"></a> Go here</button>
            </div>
            <div class="card__footer">
                <div class="u-text-center"><span>Make sure to link your language under settings!</span></div>
            </div>
        </div>
    </div>
