{{!-- //============================= LOGIN FORM =============================// --}}


{{!-- TODO: Needs Login Form
 Expecting: Username: timmy20     Password: password
 with Login Button and Signup Button. Signup Button will link to the signup page Handlebar "/signup" =============================// --}}

<form class="login-form">
    <div>
        <label for="username-login">username:</label>
        <input type="text" id="login-username"/>
    </div>
    <div>
        <label for="passsword">password:</label>
        <input type="password" id="login-password"/>
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>


<script src="/javascript/login.js"></script>