{{!-- //============================= LOGIN FORM =============================// --}}


{{!-- TODO: Needs Login Form
 Expecting: Username: timmy20     Password: password
 with Login Button and Signup Button. Signup Button will link to the signup page Handlebar "/signup" =============================// --}}
    <div class="hero fullscreen hero-img">
    <img class="u-opacity-90" src="./public/img/chang-duong-Sj0iMtq_Z4w-unsplash.jpg" style="height: 100%; width: 100%;">
</div>

<form class="ml-1 login-form">
    <div>
        <label for="username-login">username:</label>
        <input type="text" id="login-username"/>
    </div>
    <div>
        <label for="passsword">password:</label>
        <input type="password" id="login-password"/>
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>


<script src="/public/javascript/login.js"></script>
