{{!-- //============================= LOGIN FORM =============================// --}}


{{!-- TODO: Needs Signup Form
 Expecting: Username: timmy20     Password: password
  Signup Button. Signup Button will link back to the login page "/login". This will stop the signup page from signing up a user and automatically logging them in =============================// --}}

<form classs="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup"/>
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup"/>
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>


<script src="/public/javascript/login.js"></script>