<br/>
    <br/>
<a href="/forum" class="">&larr; Back to forum</a>
    <!-- First frame, contains Profile pic, and buttons to comment and translate -->
<div class="frame">
    <div class="frame__header u-text-center">
        <div>
            <figure class="avatar">
                <img
                    src="https://orig04.deviantart.net/aded/f/2013/066/c/2/profile_picture_by_naivety_stock-d5x8lbn.jpg"
                />
            </figure>
        </div>
        <div>
            <div class="frame__subtitle">{{post.user.username}}</div>
        </div>

        <div class="card__action-bar u-center">
            <button class="btn-transparent outline" id="translateButton"><i class="fa fa-solid fa-language"></i> Translate</button> 
            <button class="btn-transparent outline"><i class=" fa fa-solid fa-comment"></i><a href="#comment-modal"> Add Comment </a></button>
        </div>
    </div>
    <div class="divider m-0"></div>
{{> post-info post }}
<div class="divider m-0"></div>
  {{> comments post.comments}}
  <div class="divider m-0"></div>
<form class="" id="comment-modal">
    <!-- Modal stuff -->
        <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
        <div class="modal-content" role="document">
            <div class="modal-header"><a href="#components" class="u-pull-right" aria-label="Close"><span class="icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11 fa-wrapper" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg></span></a>
                <div class="modal-title">Add comment</div>
            </div>
            <div class="modal-body">
                <div class="r">
                    <h3 class="font-alt font-light u-text-center">Write your comment below</h3></div>
                <div class="space"></div>
                <div class="divider"></div>
                <div class="row level">
    <div class="input-control row level">
        <textarea name="comment-body" placeholder="What would you like to share?"></textarea>
    </div>
</div>
            <div class="modal-footer">
                <div class="form-section u-text-center">
                    <a href="#components">
                        <button class="btn btn--sm u-inline-block">Cancel</button>
                    </a>
                    <a href="#components">
                        <button class="btn-info btn--sm u-inline-block" type="submit" id="post-comment">Post Comment</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="divider m-0"></div>

 

{{!-- {{#if loggedIn}} --}}
<script src="/javascript/comment.js"></script>
{{!-- {{/if}} --}}