<br/>
    <br/>
<a href="/forum" class="">&larr; Back to forum</a>
    <!-- First frame, contains Profile pic, and buttons to comment and translate -->
<div class="frame">
    <div class="frame__header u-text-center">
        <div>
            <figure class="avatar">
                <img
                    src="{{post.user.avatar}}"
                />
            </figure>
        </div>
        <div>
            <div class="frame__subtitle">{{post.user.username}}</div>
        </div>

        <div class="card__action-bar u-center">
            <button class="btn-transparent outline" id="translateButton"><i class="fa fa-solid fa-language"></i> Translate</button> 
            <button class="btn-transparent outline"><i class=" fa fa-solid fa-comment"></i><a href="#comment-modal"> Add Comment </a></button>
        </div>
        
    </div>
        <div class="frame__body">
        <div class="content u-text-center">
            <h5>{{post.title}}</h5>
            <p>
                {{post.copy}}
            </p>
        </div>
    </div>

<form class="comment-modal" id="comment-modal">
    <!-- Modal stuff -->
    <br/>
            <div class="modal-body">
                <div class="r">
                    <h3 class="font-alt font-light u-text-center">Write your comment below</h3></div>
                <div class="row level">
    <div class="input-control row level">
        <textarea name="comment-body" id="comment-text" placeholder="What would you like to share?"></textarea>
    </div>
</div>
            <div class="modal-footer">
                <div class="form-section u-text-center">
                   
                        <button class="btn btn--sm u-inline-block"><a href="/forum">Cancel</a></button>
                    
                   
                        <button class="btn-info btn--sm u-inline-block" type="submit" id="post-comment">Post Comment</button>
                    
                </div>
            </div>
        </div>
    </div>
</form>
    </div>
<div class="divider m-0"></div>
  {{> comments post.comments}}
  <div class="divider m-0"></div>
  
  </div>



<div class="divider m-0"></div>

 

{{!-- {{#if loggedIn}} --}}
<script src="/javascript/comment.js"></script>
{{!-- {{/if}} --}}